$color-yellow: #f0e14a;
$color-green: #97ce4c; 
$color-purple: #834CCE;
$color-white: #f5f3f3;
$color-black: #0c0c0c;

$color-green-darker-1: #84b443;
$color-green-darker-2: #719b39;
$color-green-darker-3: #5e8130;
$color-green-darker-4: #4c6726;


$color-green-lighter-1: #a4d462;
$color-green-lighter-2: #b1da79;
$color-green-lighter-3: #bee08f;
$color-green-lighter-4: #cbe7a6;


$color-border: rgba(#0c0c0cb2, 0.2);
$color-background: rgba(#242424ec, 0.9);
$color-shadow: #0c0c0c29;
$color-chip-alive: #75c049;
$color-chip-dead: #c93434;
$color-chip-unknown: #aaaaa7;


$font-primary: "Poetsen One", sans-serif;
// $font-primary: "Urbanist", sans-serif;
// $font-secondary: "Poetsen One", sans-serif;
// $font-secondary: "Urbanist", sans-serif;
$font-secondary: "Manrope", sans-serif;
$font-size: 1.6rem;
$font-color-secondary: rgb(100, 100, 100);


$padding-horizontal: 3rem;
$padding: 2rem $padding-horizontal;
