@import "variables";

.episode__card {
  border: 1px solid $color-border;
  display: grid;
  grid-template-areas:
    "name name "
    "air_date episode "
    "caracters caracters ";
  padding: 2rem;
  gap: 1rem;
  border-radius: 0.5rem;
  transition: all 200ms;
  overflow: hidden;
  grid-auto-columns: 1fr;

  &--name{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &--name {
    grid-area: name;
    font-size: 2rem;
  }

  &--air_date {
    grid-area: air_date;
    text-transform: uppercase;
  }

  &--episode {
    grid-area: episode;
  }

  &--caracters {
    grid-area: caracters;
  }

  &--dimension {
    grid-area: dimension;
  }

  &--label {
    color: $color-green-darker-4; 
    text-transform: capitalize;
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
  }

  &:hover {
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: 3px 3px 5px 1px $color-shadow;
  }
}
