@import "variables";

.location__card {
  border: 1px solid $color-border;
  display: grid;
  grid-template-areas:
    "name name name name"
    "type type dimension dimension"
    "count count count count";
  padding: 2rem;
  gap: 1rem;
  border-radius: 0.5rem;
  transition: all 200ms;
  overflow: hidden;
  grid-auto-columns: 1fr;

  &--name,
  &--type {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &--image {
    grid-area: img;
    max-width: 200px;
    border-radius: 1rem;
  }

  &--name {
    grid-area: name;
    font-size: 2rem;
  }

  &--dimension {
    grid-area: status;
    text-transform: uppercase;
  }

  &--count {
    grid-area: count;
  }

  &--dimension {
    grid-area: dimension;
  }

  &--type {
    grid-area: type;
    min-height: 3.6rem;
  }

  &--label {
    color: $color-green-darker-4; 
    text-transform: capitalize;
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
  }

  &:hover {
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: 3px 3px 5px 1px $color-shadow;
  }
}
